<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerLinks}}

    </head>
<body>

    {{>navbar}}

    <!-- Bagian header utama -->
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.png" alt="Fachri" class="img-fluid" title="Aplikasi Cuaca Fachri" >
                </figure>
    
              </div>
          <!--  Bagian kiri (left side)  -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Selamat Datang di Aplikasi Cuaca</p>
            <h1>I Am a <span class="text_clr">Geek Programmer,</span> Web Developer and A Learner</h1>
            <a href="https://www.instagram.com/fachririzal__?igsh=N3RwNGpsbGFpNW1h" target="_blank"><button>Tentang Saya</button></a>
          </div>
          
          
        </div>
        </div>
        </div>
        </div>

        <!-- Bagian footer -->

        {{>footer}}


</body>

</html>

